.popup-add__input-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 358px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .popup-add__input-text {
    max-width: 238px;
  }
}
