.popup-add__close-btn {
  background-image: url(../../../images/popup__close-btn.svg);
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  width: 32px;
  height: 32px;
  position: relative;
  top: -338px;
  right: -438px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s linear;
}

.popup-add__close-btn:hover{
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 600px) {
  .popup-add__close-btn{
    width: 20px;
    height: 20px;
    bottom: 338px;
    left: 262px;
  }
}
