.profile__about {
  margin: 0 0 0 30px;
  padding: 0;
  max-width: 336px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content;
  align-items: center;
  align-content: center;
  column-gap: 18px;
  row-gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 680px) {
  .profile__about {
    column-gap: 10px;
    row-gap: 14px;
    margin: 26px auto 0;
  }
}

