.popup__close-btn_type_picture {
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 600px) {
  .popup__close-btn_type_picture {
    top: -36px;
    right: 0;
    left: auto;
  }
}
