.place__like-btn {
  background-image: url(../../../images/place__like-btn.svg);
  width: 22px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

