.popup-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}
