.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile__edit-btn.svg);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white;
  cursor: pointer;
  align-self: center;
  box-sizing: border-box;
}

@media screen and (max-width: 440px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
