.profile__user-info {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.78px;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 440px) {
  .profile__user-info {
    font-size: 14px;
    line-height: 17px;
    max-width: 158px;
    margin: 0 auto;
  }
}
