.profile__info {
  max-width: 486px;
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 730px) {
  .profile__info {
    margin: 0 auto 36px;
    align-items: center;
    flex-direction: column;
  }
}
