.place__like-btn_active{
background-image: url(../../../../images/Union.svg);
width: 22px;
height: 19px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0;
padding: 0;
border: none;
background-color: white;
box-sizing: border-box;
cursor: pointer;
}
